body {
    font-family: "Alegreya", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 960px;
    background-color: #eee;
    color: #222;
}

a,
a:link {
    color: #071078;
}

a:visited {
    color: #555;
}

a:hover {
    color: #BC002D;
}

a:active {
    color: #d4d10c;
}