@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Paprika&display=swap');

body {
    font-family: "Alegreya", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    max-width: 960px;
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "masthead masthead"
    "nav      main"
    "footer   footer";
}

a,
a:link {
    color: #071078;
}

a:visited {
    color: #555;
}

a:hover {
    color: #BC002D;
}

a:active {
    color: #d4d10c;
}

header {
    grid-area: masthead;
    background-color: #8ba3f8;
    font-family: "Paprika", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
}

h1 {
    margin: 7px;
    padding-left: 25px;
}

nav {
    grid-area: nav;
    background-color: #8ba3f8;
    padding-top: 10px;
}

main {
    grid-area: main;
}

#intro h2 {
    font-family: "Paprika", "Helvetica", "Arial", sans-serif;
    margin-left: 100px;
}

#intro {
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 10px;
    background-color: #ddd;
}

#geo {
    grid-area: geo;
    margin-top: 20px;
    background-color: #eee;
    padding-top: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "masthead masthead"
    "loc      loc"
    "land     envior";
}

#geo h2 {
    grid-area: masthead;
    font-family: "Paprika", "Helvetica", "Arial", sans-serif;
    padding-left: 300px;
    margin-bottom: 0px;
}

#geo figure {
    margin-left: 90px;
    color: #8ba3f8;
}

#geo img {
    border: 2px solid #555;
}

#geo #location {
    grid-area: loc;
}

#geo #location h3 {
    margin-left: 200px;
    margin-top: 0;
}

#geo #location p {
    margin-left: 200px;
    margin-right: 200px;
}

#geo #land {
    grid-area: land;
    margin-left: 50px;
}

#geo #land h3 {
    margin-left: 90px;
}

td {
    border: 2px solid #555;
}

#geo #envior h3 {
    margin-left: 80px;
}

#geo #envior {
    grid-area: envior;
    margin-right: 100px;
    margin-bottom: 10px;
}

#pop {
    display: grid;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #ddd;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "masthead masthead"
    "ethnic   religions"
    "img      img";
}

#pop h2 {
    grid-area: masthead;
    font-family: "Paprika", "Helvetica", "Arial", sans-serif;
    padding-left: 300px;
}

#pop #ethnic {
    grid-area: ethnic;
    margin-left: 50px;
}

#pop #ethnic h3 {
    margin-left: 70px;
}

#pop #religions {
    grid-area: religions;
    margin-left: 70px;
}

#pop #religions h3 {
    margin-left: 90px;
}

#pop #age figcaption {
    margin-left: 200px;
    margin-right: 200px;
}

#pop #age {
    grid-area: img;
    margin-bottom: 10px;
}

#pop #age h3 {
    margin-left: 330px;
}

#pop figure {
    color: #8ba3f8;
    margin-left: 90px;
}

#pop #age p {
    margin-left: 200px;
    margin-right: 200px;
}

#pop img {
    border: 2px solid #555;
}

footer {
    grid-area: footer;
    background-color: #8ba3f8;
    padding-left: 25px;
}